@import "../bootstrap/scss/bootstrap.scss";

$link_color : #000;
$link_opacity : .3;
$var : 50%;
$padding-right : 30px;
$header_height : 70px;
$space_value : 100px;
$padding_top : 50px;
$footer_color : rgb(49, 51, 59);
@mixin center_y(){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


@mixin center_x() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center($var,$tx,$ty) {
    position: absolute;
    top:$var;
    left:$var;
    transform: translateX(-$tx) translateY(-$ty);
}

/**
 * Mon code 
 */


     *, *::before, *::after {
         box-sizing: border-box;
     }
     html,body {
        margin: 0;
        font-size: 16px;
        height: 100%;
    }

    header {
        position: relative;
        margin: 0;
        background-color: #fff;
    }

    a {
        text-decoration: none;
        color: $link_color;
        font-family: 'Roboto', sans-serif;
        font-size: 0.875rem;
        font-family:'Roboto', sans-serif;
    }

    .topbar {
        position: absolute;
        top: 0;
        width: 100%;
        height: $header_height;
        background-color: #fff;
        .logo {

            @include center_y();
            padding-left: 1.625rem;
        &-link {            
            font-family: 'Pinyon Script', cursive;
            font-size: 2.875rem;
            font-weight: bold;
            &:hover {
                color: darken($link_color, 100);
            }
        }


        }
        .navbar {
            @include center($var,$var,$var);
            &-items {
                padding: 1.5rem;
                a{
                    padding: inherit;
                    font-size: 1.125rem;
                    &:hover {
                        background-color:#E9E9E9;
                    }
                }
            }
        }
    }



    .authentification {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        .connexion {
            border : 1px solid rgba(0, 0,0, .7);
            font-size: 0.875rem;
            padding: 10px;
            border-radius: 0.18rem; 
            cursor: pointer;
        }
        .inscription {
            background-color: #FF1148;
            color: #FFF;
            font-size: 0.875rem;
            padding: 10px;
            border-radius: 0.18rem;
            cursor: pointer;
        }
    }

.background {
    height: 100%;
    background: url("../images/Images/Backgrounds/background_home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-header {
    .close {
        padding: 0;
        margin: 0;
    }
    h5 {
        margin: 0 auto;
    }
    .form_title {
        font-size: 2.25rem;
        font-family: Inconsolata;    
    }
}


input {
    display: block;
    margin:1rem 0;
}


.form-check-label {
    margin: 1rem;
}
.modal-footer {
    text-align: center;
    .new_account {
        color: #0A288B;
        cursor: pointer;
    }
}

.connect_submit {
    margin: 0 auto;
}


/**
 
.about_us {
    display: block;
    position: relative;
    height: 662px; }
  
  .who_we_are {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 170px;
    right: 160px;
    z-index: 1; }
  
  .about_us_photo {
    position: absolute;
    background: url("../images/Images/Backgrounds/about_us.png");
    width: 756px;
    height: 470px;
    margin: 94px 0 0; }
  
  .about_us_description {
    position: absolute;
    background-color: #FFF;
    width: 637px;
    height: 207px;
    top: 300px;
    bottom: 150px;
    right: 0; }
  
  .about_us_description p {
    font-family: 'Montserrat';
    font-size: 24px;
    padding: 0 10px 0 37px; }
  
  .know_more {
    position: relative;
    height: 55px;
    width: 254px;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    padding: 12px 0;
    cursor: pointer; }
  
  .know_more:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  
  .know_more a {
    text-decoration: none;
    position: relative;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    transition: 0.5s; }
 */

.m {
    display: flex;
    flex-wrap: wrap;
    //margin:0;
}
.w-section.w-full>.row {
    max-width: none;
    padding: 0;
}
.sec {
    padding: $padding_top 0;
    background-color: #E9E9E9;
}
.col.no-padding {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.w-row-flex>.col>.col-inner {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    width: 35rem;
    height: auto;
}

.col-inner {
    position: relative;
    height: 100%;
    width: 100%;
}
.heading-title {
    font-family: 'Monstserrat', sans-serif;
    font-weight: bold;
    font-size: 3.625rem;
}
.w-row-flex>.col>.col-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    height: auto;
}

.vc_custom_1445679936399 {
    margin: 0px !important;
    padding: 5% !important;
}

.w-text-block {
    p {
        font-family: 'Monstserrat' sans-serif;
        font-size: 1rem;
    }
}

.more {
    color: #fff;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    width: 200px;
    transition: all 0.7s;
    cursor: pointer;
    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.7s;
    }
    span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -25px;
        transition: 0.5s;
      }
}

.more:hover span {
        padding-right: 25px;
  }
  
.more:hover span:after {
  opacity: 1;
  right: 0;
}

.intro {
    background-color: #233650;
}

.space {
    height: $space_value;
}


.thematiques {
    display: block;
    position: relative;
    text-align: center; 
}
  
  .thematiques_blue {
    height: 231px;
    background-color: #233650;
    position: relative; }
  
  .themes {
    position: absolute;
    top: 40px;
    left: 85px;
    height: 80px;
    width: 380px;
    text-align: center; }
    .themes span {
      color: #fff;
      font-family: 'Monserrat', sans-serif;
      font-weight: bold;
      display: block;
      line-height: 40px; }
    .themes span:first-child {
      font-size: 26px; }
  
  .quiz_intro {
    position: absolute;
    top: 124px;
    left: 408px;
    height: 80px;
    width: 530px;
    text-align: center; }
    .quiz_intro span {
      color: #fff;
      font-family: 'Monserrat', sans-serif;
      font-weight: bold;
      display: block;
      line-height: 40px; }
    .quiz_intro span:first-child {
      font-size: 26px; }
  
  .trophees_intro {
    position: absolute;
    top: 40px;
    right: 50px;
    height: 80px;
    width: 510px;
    text-align: center; }
    .trophees_intro span {
      color: #fff;
      font-family: 'Monserrat', sans-serif;
      font-weight: bold;
      display: block;
      line-height: 40px; }
    .trophees_intro span:first-child {
      font-size: 26px; }

  h3 {
    font-family: 'Monserrat', sans-serif;
    font-size: 48px;
    font-weight: bold; }

.card-body {
    text-align: center;
}

/**
FOOTER
 */

footer {
  background-color: $footer_color;
  height: 200px;

}
.footer_about_us,.footer_contact_us{
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lora", serif;
  padding: 0px 0.8125rem 0.8125rem;
  border-bottom: 1px solid ;
}


ul{
  list-style: none;
  margin: 0 0 .2rem;
  padding: 0;
  li {
    padding: .4rem 0px;
  }
}

.contact {
  text-align: center;
  padding: 2rem 0 3rem;

  h4 {
    margin: 2rem 0;
    font-size: 1.8rem;
    font-family: 'Lora',sans-serif;
    font-weight: bold;
  }

  a {
    color: #FFFFFF;
    background-color: #233650;
    padding: 0.8rem 1rem;
  }

}