
body{

	position:center;
	color: black;
		font-size:12px;
		margin: 0 auto;
 		 max-width: 50em;
 		 text-align:center;
 		 font-family: arial;
 		 font-size: 20px;
}



a.boutoncontact {
padding: 17px 20px;
background: #233650;
color: white;
font-size: 20px;
text-decoration:none;
position:center;
top:0px;
float: center;
font-family: arial;
font-size: 20px;

}

a:hover.boutoncontact {
background: green;
color: white;
}

